footer{
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    height: 182px;
    margin-top: 60px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: auto;
    margin-bottom: 10px;
    background-color: #ffffff;
    margin: auto auto;
}
.icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 5px;
}
.copyrights{font-size: 14px;}