nav{
    margin-top: 37px;
    text-align: right;
   
    
}
nav a{
    text-decoration: none;
    padding-right: 34px;
    color: black;

}
/* Mobile Screen */
@media (max-width: 600px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        gap: 10px;
    }

    nav a {
        padding-right: 0;
    }
}